/*------HEADERS-----*/
.fixed-height-for-contact{
   height: 250px;
}
#contact {
   background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('https://github.com/Wujek280/BTrap-Projekt-2/blob/master/gfx/footer/world-map.jpg?raw=true');
   background-repeat: no-repeat;
   background-size: cover;
   width: 100vw;
   height: 700px;
   margin-top:100px;
   padding-bottom: 50px;
}

@media (max-width: 1000px){
   #contact { height: 950px }
} /*bez tego, button :send message: wyswietla sie poza sekcją kontaktową*/

#contact>div>h2 {margin: 20px auto; letter-spacing: 2px;   }
#contact>div>h5 {margin: 20px auto;}

/*------INPUTS----*/

input[type=text],
input[type=email],
input[type=phone],
textarea
{   
   font-family: Montserrat;
   width:85%;
   height: 25%;
   border: none;
   border-radius: 3px;
   display: block;
   margin: 20px auto;
}

textarea{height: 92%;}



input[type=button],
input[type=submit]
{
   color: #fff;
   background-color: #0ed8d6;
   text-transform: uppercase;
   font-family: Montserrat;
   font-style: bold;
   font-size: 16px;
   border:none;
   border-radius:3px;
   letter-spacing: 1px;
   padding: 5px 30px;
   height: 50px;
   margin-top: 50px;
   margin-bottom: 50px;   
   transition: 0.5s all;
}

input[type=button]:hover,
input[type=submit]:hover{
   -webkit-box-shadow: 0px 0px 12px 3px rgba(168,198,255,0.57);
   -moz-box-shadow: 0px 0px 12px 3px rgba(168,198,255,0.57);
   box-shadow: 0px 0px 12px 3px rgba(168,198,255,0.57);
   transition: 0.5s all;
   
}
