#portfolio {
   background-color: #f7f7f7;
   width: 100%;
   margin: 40px 0;
}
.column-portfolio {
   text-align: center;
}
#portfolio>div>h5 {
   margin-bottom: 50px;	
}
.portfolio-mask>i{margin-top:65px; opacity: 1;}
.portfolio>h2 {
   font-size: 24px;
}
.portfolio>h3 {margin-top:10px;}
.portfolio>h4 {margin-top:10px;}

figcaption.portfolio {
   height: 150px;
   margin: 0;
   margin-top: -11px;
   margin-bottom: 0px;
   padding: 5px;
   position: relative;
   box-sizing: border-box;
   background-color: #fff;
}

figure.portfolio {
   margin: 0;
   background-repeat: no-repeat;
   background-size: cover;
   height: 300px;
   width: auto;
}

.portfolio-mask {
   text-align: center;
   position: relative;
   padding-top: 50px;
   opacity: 0;
   background-color: #5ef;
   width: 100%;
   height: 100%;
   margin: 0;
   transition: 0.3s ;
}

.portfolio-mask:hover {
   opacity: 0.6;
   transition: 0.3s;
}


/*------links---------*/

#no1 {
   background-image: url("https://github.com/Wujek280/BTrap-Projekt-2/blob/master/gfx/portfolio/min/box_of_cookies-min.jpg?raw=true");
}

#no2 {
   background-image: url("https://github.com/Wujek280/BTrap-Projekt-2/blob/master/gfx/portfolio/min/chaotic_paint-min.jpg?raw=true")
}

#no3 {
   background-image: url("https://github.com/Wujek280/BTrap-Projekt-2/blob/master/gfx/portfolio/min/chestnut_on_bracket-min.jpg?raw=true")
}

#no4 {
   background-image: url("https://github.com/Wujek280/BTrap-Projekt-2/blob/master/gfx/portfolio/min/child_with_blue_paint-min.jpg?raw=true")
}

#no5 {
   background-image: url("https://github.com/Wujek280/BTrap-Projekt-2/blob/master/gfx/portfolio/min/house_with_blue_doors-min.jpg?raw=true")
}

#no6 {
   background-image: url("https://github.com/Wujek280/BTrap-Projekt-2/blob/master/gfx/portfolio/min/typing_on_laptop-min.jpg?raw=true")
}